<link rel='stylesheet' href='/css/home.css' />
{{>navbar}}
<section class='main'>
  <div class='background-image'></div>
  <div class='main-content-area'>
    <h1 style='color: darkred;'>Inshare</h1>
    <h3 style='color: whitesmoke'>Inshare is a file storage and synchronization
      service developed by Debasis and Bhaskar. Inshare allows users to store
      files in the cloud (on Inshare servers), synchronize files across devices,
      and share files.</h3>
  </div>
</section>

<footer>
  &copy Inshare All Rights Reserved 2020-2021
</footer>