<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
  body{ background-image:
  url("https://images.unsplash.com/photo-1530090382228-7195e08d7a75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1292&q=80");
  } .heading{ color: chartreuse; font-family: 'Lobster', cursive; } .container{
  background-color: darkorange; color: rgb(248, 7, 7); font-family: 'Caveat',
  cursive; }
</style>
<title>Sucessfull</title>
{{>navbar}}
<h1 class='heading text-center mt-5'>ThankYou For Your Visit</h1>
<div class='container w-50 border border-dark rounded text-center mt-5'>
  <h2>Congratulations!!!</h2>
  <h3>Your Account Has Been Created Sucessfully</h3>
  <h3><a href='/api/users/login'>Click Here To Go Login Page</a></h3>
</div>